html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #121212;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-top: 200px;  
    color: white;
    flex: 1;               
}

.cabecalho {
    position: fixed; 
    width: 100%;
    height: 100px;
    background-color: #121212;
    display: flex;
    align-items: center;
    color: #00ff88;
    padding-left: 20px; 
}

.nome {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
}

.titulo {
    margin-left: 50px; 
    font-size: 20px;
}

.button {
    background-color: #017740;
    color: white;
    padding: 14px 15px;
    margin: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 8px #017740;
    transition: all 0.3s ease;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    
}

.button:hover{
    box-shadow: 0 8px 16px rgba#b0c2b9;
    background-color: #00ff88;
    color: black;
}

nav {
    margin-left: auto; 
    margin-right: 100px; 
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #dfebe9;
}

.titulo-projetos {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 24px;

}

.projeto {
    display: flex;
    gap: 20px;

}

.bloco-pai {
    display: flex;
    flex-direction: row; /* Alinha lado a lado */
    align-items: flex-start;
    gap: 1rem; /* Espaço entre imagem e texto */
    margin: 1rem;
    border-radius: 10px;
}

.bloco-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-img {
    max-width: 80%;
    /* height: auto; */

    
}



.descricao h2 {
    font-size: 35px;
    color: #00ff88;
    flex: 1;
    margin-top: 0px;
}

.descricao {
    font-size: 20px;
    margin: 0 2vw;
    max-width: 50%;
    padding-right: 10px;
}

.botao-github {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 10;
    padding: 8px 20px 8px 5px;
    

    background-color: #1a1a1a;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 16px;
}

.botao-github:hover {
    background-color: #00ff88;
    color: #000;
}

.logo-git {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    object-fit: contain;
    display: block;
}

.menu {
    display: flex;
    gap: 12px;
}

/* pagina inicial */

.subtitulo {
    text-align: center;
    font-family: 'sora', sans-serif;
    font-size: 30px;
    color: #00ff88;
}

.texto-inicio {
    max-width: 75%;
    font-size: 24px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

/* pagina de contato */
.formulario {
    width: 100%;
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
}

.formulario form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 80%;
    margin-top: 10px;
    padding: 10%;
    font-size: 1em;
    background-color: #3b3a3a;
    color: white;
    border: none;
    border-radius: 10px;
}

.main-acima h2 {
    color: #00ff88;
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'sora', sans-serif;
}

label {
    color: #00ff88;
    font-size: 20px;
    font-family: 'inter', sans-serif;
    
}

.botao-formulario {
    background-color: #017740;
    color: white;
    border: none;
    border-radius: 15px;
    height: 25px;
}

.main-acima {
    padding-top: 100px;
}

.container-dados {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;   
}

.container-dados h2 {
    font-size: 25px;
    font-family: 'sora', sans-serif;
}

.container-dados ul {
    text-align: center;
    list-style: none;
    font-size: 20px;
    padding: 0px;
    color: #eeee;
}

.container-dados ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #e0e0e0;
}

.container-dados ul li a:hover {
    color: #00ff88;
}

/* pagina sobre */

.container-sobre {
    max-width: 700px;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}

.titulo-sobre {
    color: #00ff88;
    font-size: 26px;
    font-family: 'sora', sans-serif;
    padding-left: 20px;
    margin-bottom: 16px;

}

.texto-sobre {
    color: #e0e0e0;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'inter', sans-serif;
}

footer {
    color: #e0e0e0;
    text-align: center;
    background-color: #0e0e0e;
    padding: 20px;
}

/* Media query para telas menores */
@media (max-width: 900px) {
    .projeto {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .descricao {
        margin: 20px 2vw;
        font-size: 18px;
    }
    .projeto-img {
        max-width: 95vw;
    }
}

@media (max-width: 600px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: auto; /* Remove altura fixa */
    }

    .button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .titulo {
        width: 90%;
        margin: 0 auto;
        text-align: center;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .bloco-imagem {

    }

    .menu li {
        list-style: none;
    }

    .button {
        padding: 10px 16px;
        background-color: #00c67d;
        color: white;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
    }

    .button:hover {
        background-color: #00a86b;
    }
}
